<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/public/script/receiveImage.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <img src="https://media.discordapp.net/attachments/820472030474272769/837438012651733042/IMG-20210429-WA0003.jpg?width=736&height=941" id="transmission">
</body>
</html>