<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basic fractals</title>
</head>
<style>
  body{
    background:#000;
    color:#fff;
    font-family: sans-serif;
  }
</style>
<body>
  <h1 align="center">
  <p>  simple fractal 
  </p>
    <img style="user-select: none;" src="/simple-fractal">
    

    <h1 align="center">
      <p>
        mandelbrot set
      </p>
      <img style="user-select: none;" src="/mandelbrot">
    </h1>
    <h1 align="center">

      <p>
        lorenz system
      </p>
      <img style="user-select: none;" src="/lorenz">
    </h1>
    <!--h1>
      <h1 align="center">
        <img style="user-select: none;" src="/image-yx">
        
      <h1-->

</body>
</html>
